@import "tailwindcss";



:focus,
:active {
  outline: none;
}


body {
  margin: 0;
  display: flex;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  color: black;
  /* font-family: "Times New Roman", Times, serif; */
}

#root {
  width: 100%;
  /* max-width: 824px; */
  max-width: 991px;
  padding: 0 15px;
  /* background-color: aqua; */
  --main-color-line: #b9babc;
  --form-bg-color: #F3F4F6;
  --main-bg-black: #1F2937;
  --main-border-black: #1F2937;
  --main-bg-blue: #60A5FA;
}

/* #F3F4F6 */
/* bg-[var(--main-bg-color)] */
/* bg-[var(--main-bg-black)] */
/* border-[var(--main-border-black)] */
/* bg-[var(--main-bg-blue)] */


